name: Notify on Repo Changes

on:
push:
branches:
- "**"

jobs:
slack_notify:
runs-on: ubuntu-latest

```
steps:
  - name: Send Slack Notification
    uses: slackapi/slack-github-action@v1.25.0
    with:
      payload: |
        {
          "text": "Repository Update Notification",
          "blocks": [
            {
              "type": "section",
              "text": {
                "type": "mrkdwn",
                "text": "*Repository Updated!* :
                tada:\n*Repository:
                * `${{ github.repository }}`\n*Branch:
                * `${{ github.ref_name }}`\n*Commit by:
                * `${{ github.actor }}`\n*Message:
                * `${{ github.event.head_commit.message }}`"
              }
            }
          ]
        }
      channel: ${{ SLACK_CHANNEL }}
      slack-webhook-url: ${{ SLACK_WEBHOOK_URL }}
```
